<launch>
    <arg name="repeat_boundary" default="true"/>
    <arg name="outline_clockwise" default="true"/>
    <arg name="skip_outlines" default="true"/>
    <arg name="outline_layer_count" default="1"/>
    <arg name="stripe_separation" default="1.2"/>
    <arg name="intermediary_separation" default="0.0"/>
    <arg name="stripe_angle" default="0.0"/>
    <arg name="enable_stripe_angle_orientation" default="false" />
    <arg name="travel_along_boundary" default="true" />
    <arg name="allow_points_outside_boundary" default="false" />
    <arg name="stripes_before_outlines" default="true" />
    <!-- Only choose one between half or full turns -->
    <!-- Note: if enabling half-y turns, must have an outline_layer_count >= 1 -->
    <arg name="enable_half_y_turns" default="false" />
    <arg name="enable_full_u_turns" default="true" />
    <arg name="points_per_turn" default="10" />
    <arg name="turn_start_offset" default="0.0" />
    <arg name="publish_polygons" default="true"/>
    <arg name="publish_path_points" default="true"/>

    <node pkg="boustrophedon_server" type="boustrophedon_planner_server" name="boustrophedon_server" output="screen" respawn="true">
        <param name="repeat_boundary" value="$(arg repeat_boundary)"/>
        <param name="outline_clockwise" value="$(arg outline_clockwise)"/>
        <param name="skip_outlines" value="$(arg skip_outlines)"/>
        <param name="outline_layer_count" value="$(arg outline_layer_count)"/>
        <param name="stripe_separation" value="$(arg stripe_separation)"/>
        <param name="intermediary_separation" value="$(arg intermediary_separation)"/>
        <param name="stripe_angle" value="$(arg stripe_angle)"/>
        <param name="enable_stripe_angle_orientation" value="$(arg enable_stripe_angle_orientation)" />
        <param name="travel_along_boundary" value="$(arg travel_along_boundary)" />
        <param name="allow_points_outside_boundary" value="$(arg allow_points_outside_boundary)" />
        <param name="stripes_before_outlines" value="$(arg stripes_before_outlines)" />
        <param name="enable_half_y_turns" value="$(arg enable_half_y_turns)" />
        <param name="enable_full_u_turns" value="$(arg enable_full_u_turns)" />
        <param name="points_per_turn" value="$(arg points_per_turn)" />
        <param name="turn_start_offset" value="$(arg turn_start_offset)" />
        <param name="publish_polygons" value="$(arg publish_polygons)"/>
        <param name="publish_path_points" value="$(arg publish_path_points)"/>
    </node>
</launch>
